<h1>{{request}} Request Received</h1>
<h3>List view of Query Data</h3>
<ul>
    {{#each queryList}}
    <li>{{this.name}}: {{this.value}}
        {{/each}}
</ul>

<h3>List view of Body Data</h3>
<ul>
    {{#each bodyList}}
    <li>{{this.name}}: {{this.value}}
        {{/each}}
</ul>

<h3>Table view of Query Data</h3>
<table border=1px, solid, black>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    {{#each queryList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        </tr>
        {{/each}}
</table>


<h3>Table view of Body Data</h3>
<table border=1px, solid, black>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    {{#each bodyList}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
    </tr>
    {{/each}}

</table>